* {
    margin: 0;
    padding: 0;
}

form input{
    max-width: 90%;
    padding: 10px;
}



input:focus{
    outline: 0;
    
}

body {
    background: rgb(2,0,36);
    
}

div {
    margin: auto;
    margin-top: 20px;
    background-color: white;
    width: 40vw;
    max-height: 100vh;
    border-radius: 10px;
    
    padding: 20px;
}

h4 {
    padding-left: 30%;
    padding-top: 2%;
    font-size: 1.8rem;
}

textarea {
    margin-left: 10px;
    border: none ;
    border-bottom-style: inset;
    max-width: 90%;
    
}

.submit{
    background-color: orangered;
    border-radius: 10px;
    color: white;
    width: 30%;
    border: none;
}

